<div class="container">
  <h2>Edit Recipe</h2>
  <form (ngSubmit)="updateRecipe()" #editForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="editRecipe.title" name="title" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Image URL" [(ngModel)]="editRecipe.image" name="image">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Author Name" [(ngModel)]="editRecipe.author_name" name="author_name" required>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="editRecipe.description" name="description" required></textarea>
    </mat-form-field>
    <editor [(ngModel)]="editRecipe.content" name="content" required placeholder="Content"
          apiKey="40w81iex38ma36yrdfwz9cijppsgul69b6c0xustdc8iphlx" [init]="{
          height: 500,
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
          bullist numlist outdent indent | removeformat | help'}"
          outputFormat="text">
        </editor>
    <div class="actions">
      <button mat-button color="primary" type="submit">Save Changes</button>
      <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
    </div>
  </form>
</div>