/* Add some space at the top for better alignment */

.container-fluid {
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    /* background-image: url("../../../assets/img/food-table-top-view.avif");
    background-size: 100% 100%;
    background-repeat: repeat-y; */
    padding-top: 100px;
}

/* Style the card layout */
/* .news-card {
      width: 100%;
      width: 300px;
      margin: 10px;
    } */

/* Center the card content */
/* .news-card .mat-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    } */

/* Style the card image */
.image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style the card title */
.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

.title:hover {
    text-decoration: underline;
}

/* Style the card subtitle */
.author {
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
}

/* Style the card description */
.description {
    font-size: 14px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/* Add space between the cards */
/* .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    } */
.recipe-card {
    width: 70%;
    height: 350px;
}

.recipe-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive styles for different screen sizes */
@media screen and (max-width: 767px) {
    .news-card {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .news-card {
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .news-card {
        max-width: 33.33%;
    }
}

.body {
    background-color: black;
}

/* Header */
header {
    width: 100%;
    height: 70px;
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

header ul {
    margin-bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

header ul li {
    display: inline;
    margin-left: 40px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}