.body {
    background-color: black;
}

.container-fluid {
    padding-top: 70px;
}

.add-recipe {
    width: 100%;
    height: 80px;
    display: flex;;
    align-items: center;
    /* background-color: brown; */
}

.add-recipe a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 3px 10px;
    margin-left: 20px;
}

.add-recipe a:hover {
    background-color: white;
    color: black;
}
.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

.title:hover {
    text-decoration: underline;
}

.author {
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
}

.description {
    font-size: 14px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.recipe-card {
    width: 70%;
    height: 350px;
}

.recipe-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}